.sponsors_section {
    padding: 3rem 0;
    background: #393f4d;
    text-align: center;

    .sponsors_center-H {
        width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        grid-row-gap: 2rem;
        grid-column-gap: 50px;
    }

    .sponsors_center-M {
        width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 0.75fr));
        grid-row-gap: 2rem;
        grid-column-gap: 50px;
        justify-content: center;
    }
}

.sponsor span {
    display: inline-block;
    color: #feda6a;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.sponsor h6 {
    font-size: 2rem;
    letter-spacing: 3px;
    color: #feda6a;
}