.photo-section {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;

  background-color: #393f4d;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;

  .photo-article {
    padding-top: 1rem;
  }
}
